{{#each this}}
<div> 
    <p>{{name.official}}</p>
     <p>{{capital}}</p> 
    <p>{{population}}</p>
    <p>{{flags.svg}}</p>

    <p>{{#each languages}}{{#if @index}}, {{/if}}{{this}}{{/each}}</p>
</div>
{{/each}}
