<div>
<ul>
    <li>{{name.official}}</li>
    <li>{{capital}}</li>
    <li>{{population}}</li>
    <li>{{flags.svg}}</li>

    {{#each languages}}
    <li>{{this}}</li>
    {{/each}}
    
</ul>


</div>